.box { float: left; }
#root {
	position: relative;
    width: 100%;
    margin: 0 auto; 
}

#header { 
	width: 100%; 
	background-color: #5555FF;
}

#content { width: 100%; }

#map { 
	width: 40%; 
}

#form { width: 60%; }
#footer { 
	width: 100%; 
	background-color: #5555FF;
}

.straightOption{
	display: none;
}

.direction{
	display: none;
}

/* Laptop/Tablet (1024px) */
@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
	#header { width: 100%; }
	#map { width: 100%; }
	#content { width: 100%; }
	#box3 { width: 100%; }
	#box3 { width: 100%; }
	#form { width: 100%; }
	#footer { width: 100%; }
}

/* Tablet Portrait (768px) */
@media only screen and (min-width: 321px) and (max-width: 1024px) and (orientation: portrait) {
	#header { width: 100%; }
	#map { width: 100%; }
	#content { width: 100%; }
	#box3 { width: 100%; }
	#box3 { width: 100%; }
	#form { width: 100%; }
	#footer { width: 100%; }
}

/* Phone Landscape (480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
	#header { width: 100%; }
	#map { width: 100%; }
	#content { width: 100%; }
	#box3 { width: 100%; }
	#box3 { width: 100%; }
	#form { width: 100%; }
	#footer { width: 100%; }
}

/* Phone Portrait (320px) */
@media only screen and (max-width: 320px) {
	#header { width: 100%; }
	#map { width: 100%; }
	#content { width: 100%; }
	#box3 { width: 100%; }
	#box3 { width: 100%; }
	#form { width: 100%; }
	#footer { width: 100%; }
}

